.git
.github
.claude
node_modules
vendor
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
bootstrap/cache/*.php
.env
.env.*
!.env.example
docker-compose.yml
k8s
tests
